<% include ../partials/header %>

<section class="home-slider owl-carousel img" style="background-image: url(images/template/images/bg_1.jpg);">

	<div class="slider-item" style="background-image: url(images/template/images/bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text justify-content-center align-items-center">

				<div class="col-md-7 col-sm-12 text-center ftco-animate">
					<h1 class="mb-3 mt-5 bread">About</h1>
					<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>About</span>
					</p>
				</div>

			</div>
		</div>
	</div>
</section>


<section class="ftco-intro">
	<div class="container-wrap">
		<div class="wrap d-md-flex">
			<div class="info">
				<div class="row no-gutters">
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-phone"></span></div>
						<div class="text">
							<h3>000 (123) 456 7890</h3>
							<p>A small river named Duden flows</p>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-my_location"></span></div>
						<div class="text">
							<h3>198 West 21th Street</h3>
							<p>Suite 721 New York NY 10016</p>
						</div>
					</div>
					<div class="col-md-4 d-flex ftco-animate">
						<div class="icon"><span class="icon-clock-o"></span></div>
						<div class="text">
							<h3>Open Monday-Friday</h3>
							<p>8:00am - 9:00pm</p>
						</div>
					</div>
				</div>
			</div>
			<div class="social d-md-flex pl-md-5 p-4 align-items-center">
				<ul class="social-icon">
					<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
					<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
					<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="ftco-about d-md-flex">
	<div class="one-half img" style="background-image: url(images/template/images/about.jpg);"></div>
	<div class="one-half ftco-animate">
		<div class="heading-section ftco-animate ">
			<h2 class="mb-4">Welcome to <span class="flaticon-pizza">Mario Bros</span> Pizza</h2>
		</div>
		<div>
			<p>You love to eat pizza. We love to cook it. We are one of the top pizza restaurants in the world today. At
				Mario Bros, we have only one mission - make money. And
				together, we will acheive that goal. </p>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-4">Our Talented Staff</h2>
				<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
				<p class="mt-5">Meet the women and men behind the food you know and love.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
				<div class="staff">
					<div class="img mb-4" style="background-image: url(images/jenila.jpg);"></div>
					<div class="info text-center">
						<h3>
							<p class="chef-names">Jenila Sanghvi</p>
						</h3>
						<span class="position">Chef & Web Designer</span>
						<div class="text">
							<p>A graduate student at the University of Texas at Dallas, she is a great chef and a
								skilled Web designer.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
				<div class="staff">
					<div class="img mb-4" style="background-image: url(images/viral.jpg);"></div>
					<div class="info text-center">
						<h3>
							<p class="chef-names">Viral Doshi</p>
						</h3>
						<span class="position">Chef & Web Designer</span>
						<div class="text">
							<p>A graduate student at the University of Texas at Dallas, he is a great chef and a
								skilled Web designer.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
				<div class="staff">
					<div class="img mb-4" style="background-image: url(images/dawson.jpg);"></div>
					<div class="info text-center">
						<h3>
							<p class="chef-names">Dawson Nazareth</p>
						</h3>
						<span class="position">Chef & Web Designer</span>
						<div class="text">
							<p>A graduate student at the University of Texas at Dallas, he is a great chef and a
								skilled Web designer.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<section class="ftco-counter ftco-bg-dark img" id="section-counter"
	style="background-image: url(images/template/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-pizza-1"></span></div>
								<strong class="number" data-number="100">0</strong>
								<span>Pizza Branches</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-medal"></span></div>
								<strong class="number" data-number="85">0</strong>
								<span>Number of Awards</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-laugh"></span></div>
								<strong class="number" data-number="10567">0</strong>
								<span>Happy Customer</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18 text-center">
							<div class="text">
								<div class="icon"><span class="flaticon-chef"></span></div>
								<strong class="number" data-number="900">0</strong>
								<span>Staff</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




<% include ../partials/footer %>