<% include ../partials/header %>


<div class="container">
<h1> More about our Pizza</h1>
<p><img src="/images/template/images/<%= item.image %>"></p>


<p>Title:<%= item.title %></p>
<p>price:<%= item.price %></p>
<p>Description:<%= item.description %></p>


<p>
<a href="/">Back to List</a>
</p>

</div>

<% include ../partials/footer %>
