<% include ../partials/header %>
<% console.log("11111111111111111111666666666666666666666666666666"); %>

<div class="container">
<h1>New Dish</h1>

<form action="/menu" method="POST">


<button type="Submit" class="btn btn-info">Save</button>
</div>

</form>

<a href="/menu">Cancel</a>


</div>
<% include ../partials/footer %>